<a href="https://colab.research.google.com/github/digital-science/dimensions-api-lab/blob/master/3-workshops/2019-04-Technical-University-of-Denmark/12-Joining-Dimensions-data-to-Wikidata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open Dimensions API Lab In Google Colab"/></a>

# Joining Dimensions data to Wikidata

Grid identifiers are available in Wikidata. By using Sparql to query Wikidata alongside the Dimensions API, it is possible to join information in Dimensions to other attributes about institutions in Wikidata. In this example Wikidata is used to help us understand why some universities have such high numbers of papers with no external authors.

In [5]:
import pandas as pd
from dimcli.shortcuts import dslquery_json as dslquery

In example 8, we used Dimensions to find institutions with very high numbers of internal publications (publications with no external authors). In this example we use Wikidata to see if these numbers corellate with high numbers of students.

## 1) Query Wikidata, and put the results in a dataframe

In [6]:
#pip (or pip3) install sparqlwrapper
#https://rdflib.github.io/sparqlwrapper/

from SPARQLWrapper import SPARQLWrapper, JSON
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
sparql.setQuery("""Select ?grid ?inception ?students
where {
    ?inst wdt:P2427 ?grid;
          wdt:P2196 ?students;
          wdt:P571 ?inception .
}""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

cols = results['head']['vars']

out = []
for row in results['results']['bindings']:
    item = []
    for c in cols:
        item.append(row.get(c, {}).get('value'))
    out.append(item)
    
wddf = pd.DataFrame(out, columns=cols). \
           set_index('grid')

wddf.head()

                          inception students
grid
grid.497287.7  1999-01-01T00:00:00Z      100
grid.461653.3  1979-01-01T00:00:00Z      110
grid.448855.0  2010-01-01T00:00:00Z      109
grid.466243.1  1925-01-01T00:00:00Z      104
grid.465925.9  1805-01-01T00:00:00Z       43

## 2) Get internal collaboration information on institutions from Dimensions

In [8]:
dsldf = pd.DataFrame(
        dslquery("""
            search publications
                where year > "2012"
                and count(research_orgs) = 1
            return research_orgs limit 200
        """)['research_orgs']
    ). \
    set_index('id')
dsldf.index.name = 'grid'

Execution time: 1.1190330982208252

In [9]:
dsldf.head()

              acronym  count country_name                           name
grid
grid.11899.38     USP  29893       Brazil        University of Sao Paulo
grid.12527.33     THU  25896        China            Tsinghua University
grid.13402.34     ZJU  25513        China            Zhejiang University
grid.17063.33     NaN  25437       Canada          University of Toronto
grid.16821.3c    SJTU  25139        China  Shanghai Jiao Tong University

## Joining the data together
Although there is only a partial match in information, there appears to be a relationship between a high number of students, and a high number of internal publications

In [10]:
pd.merge(dsldf, wddf, on='grid', how='left')

,acronym,count,country_name,name,inception,students
grid,,,,,,
grid.11899.38,USP,29893,Brazil,University of Sao Paulo,1934-01-01T00:00:00Z,96364
grid.12527.33,THU,25896,China,Tsinghua University,NaN,NaN
grid.13402.34,ZJU,25513,China,Zhejiang University,1897-05-21T00:00:00Z,39000
grid.17063.33,NaN,25437,Canada,University of Toronto,NaN,NaN
grid.16821.3c,SJTU,25139,China,Shanghai Jiao Tong University,NaN,NaN
grid.214458.e,UM,23737,United States,University of Michigan,NaN,NaN
grid.26999.3d,UT,21234,Japan,University of Tokyo,1877-04-12T00:00:00Z,28253
grid.21107.35,JHU,20518,United States,Johns Hopkins University,NaN,NaN
grid.4991.5,NaN,20507,United Kingdom,University of Oxford,1096-01-01T00:00:00Z,19791
grid.168010.e,SU,20287,United States,Stanford University,1891-01-01T00:00:00Z,16336
grid.83440.3b,UCL,18550,United Kingdom,University College London,1826-01-01T00:00:00Z,23250
grid.19006.3e,UCLA,17649,United States,University of California Los Angeles,NaN,NaN
grid.5335.0,NaN,17343,United Kingdom,University of Cambridge,1209-01-01T00:00:00Z,18977
grid.17635.36,NaN,16919,United States,University of Minnesota,NaN,NaN
grid.17091.3e,UBC,16708,Canada,University of British Columbia,NaN,NaN
grid.66875.3a,NaN,16640,United States,Mayo Clinic,NaN,NaN
grid.34477.33,UW,16465,United States,University of Washington,NaN,NaN
grid.15276.37,UF,16165,United States,University of Florida,1853-01-01T00:00:00Z,49500
grid.38142.3c,NaN,16047,United States,Harvard University,1636-01-01T00:00:00Z,22000
grid.25879.31,NaN,15877,United States,University of Pennsylvania,NaN,NaN
grid.258799.8,NaN,15692,Japan,Kyoto University,NaN,NaN
grid.43169.39,XJTU,15623,China,Xi'an Jiaotong University,NaN,NaN
grid.14003.36,UW,15534,United States,University of Wisconsin–Madison,NaN,NaN
grid.47100.32,NaN,15440,United States,Yale University,1701-01-01T00:00:00Z,12336
grid.19373.3f,HIT,15384,China,Harbin Institute of Technology,NaN,NaN
grid.4886.2,RAS,14978,Russia,Russian Academy of Sciences,NaN,NaN
grid.261331.4,OSU,14642,United States,The Ohio State University,NaN,NaN
grid.17089.37,NaN,14555,Canada,University of Alberta,NaN,NaN
grid.33199.31,HUST,14485,China,Huazhong University of Science and Technology,NaN,NaN
grid.64939.31,BUAA,14467,China,Beihang University,NaN,NaN
...,...,...,...,...,...,...
grid.4488.0,TUD,6587,Germany,Dresden University of Technology,1828-01-01T00:00:00Z,36962
grid.46072.37,UT,6586,Iran,University of Tehran,NaN,NaN
grid.410877.d,UTM,6548,Malaysia,University of Technology Malaysia,NaN,NaN
grid.8532.c,UFRGS,6511,Brazil,Federal University of Rio Grande do Sul,NaN,NaN
grid.5600.3,NaN,6479,United Kingdom,Cardiff University,NaN,NaN
grid.26790.3a,U Miami,6463,United States,University of Miami,NaN,NaN
grid.440785.a,NaN,6457,China,Jiangsu University,NaN,NaN
grid.14848.31,NaN,6445,Canada,University of Montreal,NaN,NaN
grid.4795.f,NaN,6435,Spain,Complutense University of Madrid,NaN,NaN
grid.411327.2,HHU,6426,Germany,Heinrich Heine University Düsseldorf,1965-11-16T00:00:00Z,33715
grid.7737.4,UH,6409,Finland,University of Helsinki,1640-01-01T00:00:00Z,38000
grid.4793.9,NaN,6360,Greece,Aristotle University of Thessaloniki,NaN,NaN
grid.31880.32,BUPT,6358,China,Beijing University of Posts and Telecommunicat...,NaN,NaN
grid.267313.2,NaN,6356,United States,The University of Texas Southwestern Medical C...,NaN,NaN
grid.4643.5,NaN,6356,Italy,Polytechnic University of Milan,NaN,NaN
grid.1010.0,NaN,6334,Australia,University of Adelaide,1874-01-01T00:00:00Z,25000
grid.7700.0,NaN,6333,Germany,Heidelberg University,1386-01-01T00:00:00Z,28413
grid.32197.3e,TIT,6324,Japan,Tokyo Institute of Technology,NaN,NaN
grid.5333.6,EPFL,6315,Switzerland,Swiss Federal Institute of Technology in Lausanne,NaN,NaN
grid.5947.f,NTNU,6314,Norway,Norwegian University of Science and Technology,NaN,NaN
grid.20515.33,NaN,6276,Japan,University of Tsukuba,NaN,NaN
grid.5719.a,NaN,6259,Germany,University of Stuttgart,1967-01-01T00:00:00Z,26457
grid.7372.1,NaN,6220,United Kingdom,University of Warwick,1965-01-01T00:00:00Z,25615
grid.7839.5,NaN,6218,Germany,Goethe University Frankfurt,1914-01-01T00:00:00Z,46429
grid.429017.9,IIT KGP,6197,India,Indian Institute of Technology Kharagpur,NaN,NaN
grid.16750.35,NaN,6142,United States,Princeton University,NaN,NaN
grid.440736.2,NaN,6119,China,Xidian University,NaN,NaN
grid.5477.1,NaN,6086,Netherlands,Utrecht University,NaN,NaN
grid.8404.8,NaN,6051,Italy,University of Florence,NaN,NaN
grid.7177.6,UvA,6043,Netherlands,University of Amsterdam,1632-01-01T00:00:00Z,31123

---
# Want to learn more?

Check out the [Dimensions API Lab](https://digital-science.github.io/dimensions-api-lab/) website, which contains many tutorials and reusable Jupyter notebooks for scholarly data analytics.